.tableLayout {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.tableHeader {
  flex: 0 0 auto;
  overflow: hidden;
}

.tableBody {
  flex: 1 1 auto;
  min-height: 0;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table th {
  font-size: 12px;
}

.table tr {
  font-size: 12px;
}

.sticky {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-9)
  );
}

.pagination {
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  flex: 0 0 auto;
  justify-content: end;
  align-items: flex-end;
  min-height: 54px;
  padding: var(--mantine-spacing-sm);
}

.emptyState {
  height: 100%;
  min-height: 300px;
}
